<div class="events-container top-container-events container">
  <h1 style="font-family: google-sans-regular, serif; margin-top: 30px">2020 Event Schedule</h1>
  <div class="row" style="padding-top: 30px; padding-bottom: 60px">
    <div class="col" style="padding-top: 20px">
      <h3 style="font-family: google-sans-medium, serif">Current</h3>
      <div class="container-fluid card" style="margin-top: 40px">
        <div class="row" style="padding-top: 30px; padding-bottom: 30px; padding-left: 20px">
          <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Date</div>
          <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Name</div>
          <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Venue</div>
          <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Time</div>
          <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Durations</div>
          <div class="w-100" style="padding-top: 30px"></div>
          <div class="col">Jan 05, 2020</div>
          <div class="col">Event Name WTM</div>
          <div class="col">Pasumalai, Madurai.</div>
          <div class="col">9:30AM - 5:30PM</div>
          <div class="col">9 Hours</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="padding-top: 30px">
    <div class="col">
      <div class="col" style="padding-top: 20px">
        <h3 style="font-family: google-sans-medium, serif">Upcoming</h3>
        <div class="container-fluid card" style="margin-top: 40px">
          <div class="row" style="padding-top: 30px; padding-bottom: 30px; padding-left: 20px">
            <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Date</div>
            <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Name</div>
            <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Venue</div>
            <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Time</div>
            <div class="col" style="font-family: google-sans-regular, serif; font-size: 18px; ">Durations</div>
            <div class="w-100" style="padding-top: 30px"></div>
            <div class="col">NA</div>
            <div class="col">NA</div>
            <div class="col">NA</div>
            <div class="col">NA</div>
            <div class="col">NA</div>
          </div>
        </div>
    </div>
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
