.faqs-container {
  padding-top: 20px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.top-container-rules {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.background-card {
  background-image: linear-gradient(315deg, #F0F3F4 50%, #FDFEFE 0%);
}
