<div class="faqs-container top-container-events container">
  <div class="row" style="padding-top: 30px; padding-bottom: 30px">
    <div class="col">
      <h1 style="font-family: google-sans-regular, serif">Frequently Asked Questions</h1>
      <p style="font-family: google-sans-medium, serif; font-size: 16px; color: #616A6B; padding-top: 20px">
        Please carefully review the Challenge Terms and Rules first, as many of your questions regarding eligibility, contest structure, prizes, grounds for disqualification, and more are addressed there.
      </p>
    </div>
  </div>

  <div class="row" style="padding-top: 30px; padding-bottom: 30px">
    <h4 style="font-family: google-sans-medium, serif">FAQs</h4>
    <hr style="height: 0; width: 100%; background: #CCD1D1">
    <div class="col" style="">
      <div class="accordion background-card" id="accordionExample">
        <div class="card background-card">
          <div class="card-header" id="headingOne" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                      style="font-family: google-sans-medium, serif">
                Eligible Students
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 15px;">School students from age 12 - 16 Years, College Students and Housewives.</p>
            </div>
          </div>
        </div>


        <div class="card background-card">
          <div class="card-header" id="headingTwo" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                      style="font-family: google-sans-medium, serif">
                How to create profile?
              </button>
            </h2>
          </div>

          <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 15px;">In Home Page, click on the Create your profile button, then move on with filling your information and save it.</p>
            </div>
          </div>
        </div>

        <div class="card background-card">
          <div class="card-header" id="headingThree" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                      style="font-family: google-sans-medium, serif">
                Is there a way to edit my profile?
              </button>
            </h2>
          </div>

          <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 15px;">You don't have rights to edit your profile, your profile will be stored permanently in our database.</p>
            </div>
          </div>
        </div>

        <div class="card background-card">
          <div class="card-header" id="headingFour" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                      style="font-family: google-sans-medium, serif">
                Can I participate as Mentor and Participant at a time?
              </button>
            </h2>
          </div>

          <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 15px;">You can't be a Participant and Mentor at the same time, if you want to apply for mentor then go ahead and register as mentor.</p>
            </div>
          </div>
        </div>


        <div class="card background-card">
          <div class="card-header" id="headingFive" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                      style="font-family: google-sans-medium, serif">
                What is eligible to be a Mentor?
              </button>
            </h2>
          </div>

          <div id="collapseFive" class="collapse hide" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 15px;">Mentors should have good knowledge on Object Oriented Programming, experienced with either Mobile app or
                Web App development and should engage with students to solve community problem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
