<div class="about-container top-container container">
  <div class="row" style="padding-top: 30px; padding-bottom: 50px">
    <div class="col-sm1" style="background-color: #ffffff; height: 310px; margin-right: 60px">
     <h2>What is Maker Women's Challenge?</h2><br>
     <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A 6 month programme in which we are going to mentor the teams on a 
        weekly basis to empower students, primarily girls with 
        technical skills and to further connect them to reputed organisations to 
        provide them with various job opportunities to make women as a leader and 
        problem solver.
     </p>
    </div>
    <div class="col-sm2">
     <img style='height: 310px; width: 100%; object-fit: contain' src="src/assets/images/about1.jpg">
    </div>
  </div>
  <div class="row" style="padding-bottom: 30px">
    <div class="col-sm3" style="height: 310px; margin-right: 60px">
        <img style='height: 310px; width: 100%; object-fit: contain' src="src/assets/images/about2.jpg">
    </div>
    <div class="col-sm4" style="background-color: #ffffff;">
      <h2>Conclusion:</h2><br>
      <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boosting the seed of innovation in the heart of the students and through this event they can learn how to work in a focused,
         creative and collaborative way. Believe technology will have them to be a part of the competitions in the future and it also 
         help them to gain confidence in whatever they do.          
      </p>
    </div>
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
