<div class="rules-container top-container-events container">
  <div class="row" style="padding-top: 30px; padding-bottom: 30px">
    <div class="col">
      <h1 style="font-family: google-sans-regular, serif">Welcome to MakerWomen Challenge 2020!</h1>
      <p style="font-family: google-sans-medium, serif; font-size: 16px; color: #616A6B; padding-top: 20px">Please read carefully the Challenge Terms ("Terms"), MakerWomen general Privacy Policy, and these rules for Challenge 2020 (described below and referred to as the "MW Rules"), all of which together form a binding legal agreement between you and MakerWomen with respect to the MakerWomen Challenge (the "MWC").</p>
    </div>
  </div>

  <div class="row" style="padding-top: 30px;">
    <h4 style="font-family: google-sans-medium, serif">Challenge Terms</h4>
    <hr style="height: 0; width: 100%; background: #CCD1D1">
    <div class="col" style="">
      <div class="accordion background-card" id="accordionExample">
        <div class="card background-card">
          <div class="card-header" id="headingOne" style="background: #fff">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
              style="font-family: google-sans-medium, serif">
                2020 Terms & Rules
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li style="font-size: 15px; padding-bottom: 20px">Eligible participants are <strong><u>School Students from age 12 - 16 Years, College Students and Housewives.</u></strong></li>
              <li style="font-size: 15px; padding-bottom: 20px">A 6 month programme in which we are going to mentor the teams on a weekly basis.
              This workshop will be performed in the form of teams. Each team consists of school students, college students, graduated women(housewives) and a
                qualified individual as a mentor will be allotted to them for their continuous guidance and monitoring.</li>
                <li style="font-size: 15px; padding-bottom: 20px">We should brainstorm the problem statement and come up with a solution that problem with the help of technology.</li>
                <li style="font-size: 15px;">By conducting this program we aim to build a connecting link between tier-II and tier-III cities with multinational companies to provide students in the
                  tier-II and tier-III cities with platform experience, the culture and work ethics of these reputed companies. </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
