.home-container {
  padding-top: 20px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/*.col{
  height:200px;
  width:10%; 

}
*/
.col-sm{
  height: auto;
  width:auto;
  float:left;
  border-width: 1px;
  border-color: #250c08;
  border-style: groove;
}
.col-sm1{
  height:auto;
  width:1%;
  border-width:10px;
}

.responsive {
  
  float: right;
  width: auto;
  max-width: auto;
  height: auto;
}
h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h2 span { 
   background:#fff; 
   padding:0 10px; 
}

h1 { color: #250c08; font-family: 'sans-serif'; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }
h3 { color: #521c0e; font-family: ' sans-serif'; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }
h6 { color: #4c4a37; font-family:'sans-serif'; font-size: 18px; }

