<div class="home-container">
  <div class="row" style="padding: 30px;">
    <div class="col-sm" style="background-color: #888888; height: 600px"></div>
    <div class="col-sm" style="background-color: #2e2e2e;"></div>
  </div>
  <hr style="height: 0; width: 100%; background-color: #000">
  <div class="row" style="padding: 30px">
    <div class="col-sm" style="background-color: #426585; height: 400px"></div>
    <!--<div class="col-sm"  style="background-color: #ff00ee">col-sm</div>-->
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
