<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home-container">
  <div class="row" style="padding: 30px;">
  <div class="col-sm" style="border-style:groove; border-width:1px; ">
    <h1 >CONTENT OF HOME PAGE</h1>
    <h3>subheading to be placed here</h3>
    <h6>______________line 1____________________<br/>
      <br/>
      Content Prepared :<b>By smirthi</b><br/>
      ______________line 2___________________<br/>
      ______________line 3___________________<br/>
      ______________line 4___________________</h6>
  </div>
  <div class="col" style="height: auto; width: 2%;"></div>
    
    <div class="col-sm1"  >
      <img src="../assets/images/images.jpg" class="responsive">
    </div>
  </div>
 <!-- <hr style="height: 0; width: 100%; background-color: #000">-->
 <h2><span>Maker Women</span></h2>
  <div class="row" style="padding: 30px">
    <div class="col-sm" style="background-color:white; height: 200px; margin-top:  40px;">
    <h3>What is maker women?</h3>
    
    </div>
    <!--<div class="col-sm"  style="background-color: #ff00ee">col-sm</div>-->
  </div>

  <div style="padding-top: 80px"></div>
    <app-social-media></app-social-media>
  </div>