<div class="home-container">
  <div class="row" style="padding: 30px;">
    <div class="col-sm" style="margin-top: 40px; margin-left: 40px">
      <h2 style="font-family: google-sans-black, serif; ">Hi {{ user?.displayName }}</h2>
      <h4 style="font-family: google-sans-medium, serif; margin-top: 20px;">Anim pariatur cliche
        reprehenderit enim eiusmod?</h4>
    </div>
    <div class="col-sm" style="align-content: center; text-align: center">
      <img src="../../../../assets/images/wtm.jpeg" style="height: 200px; width: 300px">
    </div>
  </div>
  <hr style="height: 0; width: 100%; background-color: #000">
  <div class="row" style="padding: 30px">
    <div class="col-sm" style="background-color: #426585; height: 400px"></div>
    <!--<div class="col-sm"  style="background-color: #ff00ee">col-sm</div>-->
  </div>

  <div style="padding-top: 80px">
    <app-social-media></app-social-media>
  </div>

</div>
